<ion-content>
  <!-- Points grid starts here-->
  <ion-list style="padding-left: 0%;padding-right: 0%">
      <ion-item style="padding-left: 0%;padding-right: 0%"> <ion-img src="assets/images/adults-award-best-1059118.jpg" style="width: 400px;padding-top: 0%;padding-left: 0%;padding-right: 0%;padding-bottom: 0% "></ion-img></ion-item>
      
  </ion-list>
  <ion-item  style="padding-bottom: 0%;" lines="none"> <ion-img src="assets/images/AirAsia.png"  style="width: 400px;padding-left: 20px;
    padding-bottom: 0px;padding-top: 2px"></ion-img></ion-item>
      <ion-item  style="padding-bottom: 0%;padding-top: 5px" lines="none"> <ion-img src="assets/images/Marriott.png"  style="width: 400px;padding-left: 20px;
        padding-bottom: 0px;padding-top: 0px"></ion-img></ion-item>
         <ion-item  style="padding-bottom: 0%;padding-top: 5px" lines="none"> <ion-img src="assets/images/goldsgym.png"  style="width: 400px;padding-left: 20px;
          padding-bottom: 0px;padding-top: 0px"></ion-img></ion-item>
           <ion-item  style="padding-bottom: 0%;padding-top: 5px" lines="none"> <ion-img src="assets/images/airbnb.png"  style="width: 400px;padding-left: 20px;
            padding-bottom: 0px;padding-top: 0px"></ion-img></ion-item>
 
</ion-content>