ion-img{
    width: 30%;
    padding-bottom: 5%;
    padding-right: 5%;
    padding-top:  5%;
}
ion-card.background{
    box-shadow: none;
}
ion-label.highlighted{
    font-size: 150%;
    padding-left: 30%;
    font-family: 'Calibri'
}
