<ion-content>
  <ion-item>
    <ion-img src="assets/images/medalsheet.png"></ion-img>
  </ion-item>
<ion-card class="nutritionCamCard" >
  <ion-grid style="height: 100%">

    <ion-row class="nutricationCamLabel">
      <ion-label>What did you eat today? Please upload the receipt!</ion-label>
    </ion-row>

    <ion-row>
      <ion-icon name="camera" class="cameraCSS"></ion-icon>
    </ion-row>

    <ion-row style="padding-top: 30%">
      <ion-col class="ion-align-self-end">
        <ion-button expand="block" class="ion-align-self-center">Submit</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>  
</ion-card>
</ion-content>
