ion-icon.cameraCSS{
    font-size:100px;
    padding-left: 35%;
}
ion-row.nutricationCamLabel{
    padding-top: 10%;
    padding-bottom: 20%;
    font-size: 120%;
    font-weight: 200;
    padding-left: 5%
}