<ion-content>
  <ion-item>
    <ion-img src="assets/images/medalsheet.png"></ion-img>
  </ion-item>
  <ion-card style="padding-top: 40px">

    <div>
      <ion-grid>
        <ion-row>
          <ion-img src="assets/images/nutritionPageFill.jpg"></ion-img>
        </ion-row>
      </ion-grid>
      <p>
        Assess your daily food intake to keep your health incheck.
      </p>
    </div>
    <div>
      <ion-row>
        <ion-col class="ion-align-self-end">
          <ion-button expand="block" class="ion-align-self-center" (click)="goToNutritionPage2()">
            Continue with Nutrition assessment</ion-button>
        </ion-col>
      </ion-row>
    </div>

  </ion-card>

</ion-content>
