<ion-content>

  <h1 style="text-align: center">Stay Fit</h1>

  <div class="img">

    <ion-item color="none" lines="none">
      <img style="position: relative" src="assets/images/Exercise.png" />    
    </ion-item>
    
  </div>

  <h5 style="text-align: center">Werve Encourages you to stay fit</h5>

<div class="button">
  <ion-item color="none" lines="none">
    <ion-button expand="block" shape="round" [routerLink]="['/login']" routerLinkActive="router-link-active">Continue</ion-button>
  </ion-item>
</div>


</ion-content>