<ion-content class="background"> 
  
     
          
  <div ><ion-img class="capgemini" style="width: 75%;height: 75%;padding-left: 100px;" src="assets/images/cropped-capgemini_logo.png"></ion-img></div>
  <h1 style="text-align: center">WERV<a style="color: rgb(18,171,219);">e</a></h1>
  <ion-grid>    
    <ion-row style="padding-bottom: 5%">
      <ion-col>
        <div style="color: black;">
          <h2><a style="color: rgb(18,171,219);">WE</a>llness</h2>
        </div>
        <h2><a style="color: rgb(18,171,219);">ReV</a>olution</h2> 
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col>
          <h2><ion-img style="margin: auto auto; width: 50%" src="assets/images/Capgemini-mono.png"></ion-img></h2>
      </ion-col>
    </ion-row>

    <ion-row align-items-center>
      <ion-col style="text-align :center">
        <ion-button shape="round" [routerLink]="['/login']" routerLinkActive="router-link-active">
          Get Started
        </ion-button>       
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


  
