<ion-content>
  <ion-item>
    <ion-img src="assets/images/medalsheet.png"></ion-img>
  </ion-item>  
  <ion-card>  
    <div>
      <ion-grid>
        <ion-row>
          <ion-img src="assets/images/sleeptrackingpage.png"></ion-img>
        </ion-row>
      </ion-grid>
      <p>
        Track your sleep time with your fitness linked (compatible with Garmin, Fitbit, Moves or Polar fitness
        tracker). Get rewarded having a good night sleep of 7-9 hours daily.
      </p>
    </div>
    <div>
      <ion-row>
        <ion-col class="ion-align-self-end">
          <!-- <ion-button expand="block"  [routerLink]="['/fitbit']" class="ion-align-self-center">Link Your Device Here</ion-button> -->
          <ion-button expand="block" class="ion-align-self-center">Link Your Device Here</ion-button>

        </ion-col>
      </ion-row>
    </div>
  </ion-card>
</ion-content>
