.mainContent{
    height: 100%;
    //display: flex;
    justify-content: center;
    align-items: center;
}


div .ion-avatar{
    justify-content: center;
    display: flex;
}

p{
    font-size: 16px; 
       
}
