<ion-content >
    <ion-grid>
      <ion-row>
        <ion-img style=" margin: auto auto;
            width: auto;
            height: 30px;" src="assets/images/werve_screen_logo.png"></ion-img>
      </ion-row> 
      <ion-row style="height: 200px;padding-bottom: 0%">
        <ion-img src="assets/images/member_enrollment.jpg"></ion-img>
      </ion-row>  
      <ion-row style="padding-bottom: 0%">
        <ion-col style="padding-bottom: 0%">
          <ion-img style="width: 90%;padding-left: 7%;" src="assets/images/member_enrollment_logo.png"></ion-img>
        </ion-col>
      </ion-row>
      <!-- Insurance_policy_number-->
      <ion-row>  
        <ion-col style="padding-bottom: 0%;padding-top: 0%;">
          <ion-card style="box-shadow: none;margin-top: 3%;margin-bottom: 0%">
            <ion-item lines=none>
              <ion-img slot="start" style="width: 10%" src="assets/images/Insurance_policy_number.png">
              </ion-img>
              <ion-grid style="padding-bottom: 0%;padding-top: 0%;">
                <ion-row style="height: 10px">
                  <ion-col style="padding-bottom: 0%;padding-top: 0%;">
                    <p style="margin-bottom: 0%;margin-top:0%;padding-left: 3%; font-size: smaller; font-weight: 500;">
                      INSURANCE POLICY NUMBER</p>
                  </ion-col>
                </ion-row>
                <ion-row style="height: 70px">
  
                  <ion-col style="padding-top: 0%;padding-bottom: 0%;">
                    <ion-card>
                        <div style="padding-left: 15px">
                      <ion-input [(ngModel)]="memEnroll.insPolicyNumber" ></ion-input>
                      </div>
                    </ion-card>
                  </ion-col>
  
                </ion-row>
  
              </ion-grid>
            </ion-item>
  
          </ion-card>
        </ion-col>
      </ion-row>
      <!-- dob -->
      <ion-row>
        <ion-col style="padding-bottom: 0%;padding-top: 0%;">
          <ion-card style="box-shadow: none;margin-top: 0%;margin-bottom: 0%">
            <ion-item lines=none>
              <ion-img slot="start" style="width: 10%" src="assets/images/dob.png">
              </ion-img>
              <ion-grid style="padding-bottom: 0%;padding-top: 0%;">
                <ion-row style="margin-bottom: 0%;margin-top: 0%; height: 10px">
                  <ion-col style="padding-bottom: 0%;padding-top: 0%;">
  
                    <p style="margin-bottom: 0%;margin-top:0%;padding-left: 3%; font-size: smaller; font-weight: 500;">
                      DATE OF BIRTH</p>
                  </ion-col>
                </ion-row>
                <ion-row style="height: 70px">
  
                  <ion-col style="padding-top: 0%;padding-bottom: 0%;">
                    <ion-card>
                      <ion-datetime [(ngModel)]="memEnroll.dob" placeholder="Select Date"></ion-datetime>
                    </ion-card>
                  </ion-col>
  
                </ion-row>
  
              </ion-grid>
            </ion-item>
  
          </ion-card>
        </ion-col>
      </ion-row>  
      <!-- mail -->
      <ion-row>
        <ion-col style="padding-bottom: 0%;padding-top: 0%;">
          <ion-card style="box-shadow: none;margin-top: 0%;margin-bottom: 0%">
            <ion-item lines=none>
              <ion-img slot="start" style="width: 10%" src="assets/images/mail.png">
              </ion-img>
              <ion-grid style="padding-bottom: 0%;padding-top: 0%;">
                <ion-row style="margin-bottom: 0%;margin-top: 0%; height: 10px">
                  <ion-col style="padding-bottom: 0%;padding-top: 0%;">
  
                    <p style="margin-bottom: 0%;margin-top:0%;padding-left: 3%; font-size: smaller; font-weight: 500;">
                      EMAIL</p>
                  </ion-col>
                </ion-row>
                <ion-row style="height: 80px">
  
                  <ion-col style="padding-top: 0%;padding-bottom: 0%;">
                    <ion-card>
                      <div style="padding-left: 15px">
                      <ion-input type="email" [(ngModel)]="memEnroll.email" style="width: 100%;">
                      </ion-input>
                    </div>
                    </ion-card>
                  </ion-col>
  
                </ion-row>
  
              </ion-grid>
            </ion-item>
  
          </ion-card>
        </ion-col>
      </ion-row>  
      <!-- gender -->
      <ion-row>
        <ion-col style="padding-bottom: 0%;padding-top: 0%;">
          <ion-card style="box-shadow: none;margin-top: 0%;margin-bottom: 0%">
            <ion-item lines=none>
              <ion-img slot="start" style="width: 10%" src="assets/images/gender.png">
              </ion-img>
              <ion-grid style="padding-bottom: 0%;padding-top: 0%;">
                <ion-row style="margin-bottom: 0%;margin-top: 0%; height:10px">
                  <ion-col style="padding-bottom: 0%;padding-top: 0%;">
  
                    <p style="margin-bottom: 0%;margin-top:0%;padding-left: 3%; font-size: smaller; font-weight: 500;">
                      GENDER</p>
                  </ion-col>
                </ion-row>
                <ion-row style="height: 80px"> 
  
                  <ion-col style="padding-top: 0%;padding-bottom: 0%;">
                    <ion-card>
                      <ion-select [(ngModel)]="memEnroll.gender" interface="popover">
                        <ion-select-option value="male">Male</ion-select-option>
                        <ion-select-option value="female">Female</ion-select-option>
                      </ion-select>
                    </ion-card>
                  </ion-col>
  
                </ion-row>
  
              </ion-grid>
            </ion-item>
  
          </ion-card>
        </ion-col>
      </ion-row>
      <!-- mobile -->
      <ion-row>
        <ion-col style="padding-bottom: 0%;padding-top: 0%;">
          <ion-card style="box-shadow: none;margin-top: 0%;margin-bottom: 0%">
            <ion-item lines=none>
              <ion-img slot="start" style="width: 10%" src="assets/images/mobile.png">
              </ion-img>
              <ion-grid style="padding-bottom: 0%;padding-top: 0%;">
                <ion-row style="margin-bottom: 0%;margin-top: 0%; height: 10px">
                  <ion-col style="padding-bottom: 0%;padding-top: 0%;">
  
                    <p style="margin-bottom: 0%;margin-top:0%;padding-left: 3%; font-size: smaller; font-weight: 500;">
                      MOBILE</p>
                  </ion-col>
                </ion-row>
                <ion-row style="height: 80px">
  
                  <ion-col style="padding-top: 0%;padding-bottom: 0%;">
                    <ion-card>
                        <div style="padding-left: 15px">
                      <ion-input type="tel" style="padding-bottom: 5%;padding-top: 5%;" [(ngModel)]="memEnroll.mobileNo" slot="end">
                      </ion-input>
                      </div>
                    </ion-card>
                  </ion-col>
  
                </ion-row>
  
              </ion-grid>
            </ion-item>
  
          </ion-card>
        </ion-col>
      </ion-row>     
      
      <!-- footer -->
      <!-- <ion-row>
        <ion-col style="padding-bottom: 0%;padding-top: 0%;">
          <ion-card style="box-shadow: none;margin-top: 0%;margin-bottom: 0%">
            <ion-item lines=none>
              <ion-img slot="start" style="width: 10%" src="assets/images/capgeminilogo.png">
              </ion-img>
              
              <ion-button slot="end" id="button" size="default" (click)="updateMemEnrollData()">
                Next
              </ion-button>
              
            </ion-item>  
          </ion-card>
        </ion-col>
      </ion-row> -->

      <!-- <ion-row>
        <ion-col>
          <ion-img style="width: 50%;" src="assets/images/capgeminilogo.png"></ion-img>
        </ion-col>
        <ion-col>
          <ion-button size="default" (click)="updateMemEnrollData()">Next</ion-button>
        </ion-col>  
      </ion-row> -->
    </ion-grid>

    <div class="button">
      <ion-button size="default" (click)="updateMemEnrollData()">Next</ion-button>
    </div>
    
  
  
  
  </ion-content>