<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top">

      <ion-tab-button tab='main-landing-page'>
        <ion-icon name="Home"></ion-icon>
        <ion-label >Home</ion-label>
      </ion-tab-button>

      <ion-tab-button tab='goals'>
          <ion-icon name="radio-button-on"></ion-icon>
          <ion-label>Targets</ion-label>
        </ion-tab-button>

      <ion-tab-button tab='rewards'>
          <ion-icon name="trophy"></ion-icon>
          <ion-label>Rewards</ion-label>
        </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-content>