<ion-content>
  <ion-item>
    <ion-img src="assets/images/medalsheet.png"></ion-img>
  </ion-item>
  <ion-card>
    <ion-grid>
      <ion-row>
        <p text-wrap>
          Below are all ways you can earn points. Points to stay healthy and active. The more you earn, the higher
          your status and greater the rewards
        </p>
      </ion-row>
      <ion-row>
        <ion-img src="assets/images/SleepTracking.png" stacked (click)="goToSleepPage()">
        </ion-img>
      </ion-row>
      <ion-row>
        <ion-img src="assets/images/NutritionAssessment.png" stacked (click)="goToNutritionPage1()"></ion-img>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
